/* 네비바 */
@media (min-width: 769px) {
    .desktop-invisible {
        display: none;
    }

    #nav-section {
        width: 100%;
        padding: 10px 20px 10px 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    #nav-upper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-left {
        display: flex;
        align-items: center;
    }

    /* 네비바 오른쪽 부분 */
    #nav-right {
        display: flex;
        align-items: center;
    }

    /* 로고 */
    #logo-section {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 50px;
    }
    #logo-img {
        width: 40px;
        height: 40px;
    }
    #logo-title {
        margin: 0;
        color: #6b196b;
        font-size: 16px;
        font-family: my-font, sans-serif;
    }

    #name-section{
        flex-grow: 0.1;
    }
    #info-section {
        flex-direction: column;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #reset-button {
        width: 100px;
        height: 40px;
        border: none;
        color: white;
        background: darkslateblue;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 10px;
        font-weight: bold;
    }
    #reset-button:hover {
        transform: scale(1.1); /* 크기를 10% 정도 확대 */
    }
    #name-section {
        display: flex;
        align-items: center;
    }
    #name-value {
        display: none;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #2C2C2C;
    }
    #name-input-box {
        border-color: darkslateblue;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
    }
    #name-input-button {
        width: 60px;
        height: 40px;
        border: none;
        color: white;
        background: darkslateblue;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 10px;
        font-weight: bold;
    }

    .nav-text {
        padding: 20px;
        box-sizing: border-box;
        font-family: my-font, sans-serif;
        font-size: 17px;
        cursor: pointer;
        color: rgb(25, 25, 26);
        text-decoration: none;
    }

    .nav-text:hover {
        color: darkslateblue;
    }
}

@media (max-width: 768px) {
    #nav-section {
        height: 100%;
        max-height: 100%;
        width: 100%;
        padding: 10px 5px 10px 5px;
        box-sizing: border-box;
        font-size: 10px;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
    }

    #nav-upper {
        display: grid;
        overflow: hidden;
        height: 100%;
        max-height: 100%;
        grid-auto-flow: column;
        place-content: space-between;
    }

    #nav-left {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    /* 네비바 오른쪽 부분 */
    #nav-right {
        display: flex;
        align-items: center;
    }

    /* 로고 */
    #logo-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 0.1;
        margin-right: 10px;
    }
    #logo-img {
        width: 40px;
        height: 40px;
    }
    #logo-title {
        display: flex;
        justify-content: center;
        margin: 0;
        color: #6b196b;
        font-family: my-font, sans-serif;
        font-size: 13px;
    }

    #name-section{
        display: flex;
    }

    #info-section {
        flex-direction: column;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #reset-button {
        box-sizing: border-box;
        border: none;
        color: white;
        background: darkslateblue;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 8px;
        display: none;
    }
    #reset-button:hover {
        transform: scale(1.1); /* 크기를 10% 정도 확대 */
    }
    #name-section {
        display: flex;
        align-items: center;
    }
    #name-value {
        display: none;
        text-align: center;
        font-weight: bold;
        color: darkslateblue;
        font-size: 10px;

    }

    #name-input-section {
        display: none;
        align-items: flex-end;
        height: 30px;
    }

    #name-input-box {
        border-color: darkslateblue;
        padding: 5px 10px;
        font-size: 8px;
        font-weight: bold;
        border-radius: 5px 0px 0px 5px;
        height: 100%;
        box-sizing: border-box;
        width: 100px;
    }

    #name-input-box:focus {
        outline: none; /* 기본 outline 제거 */
        border-color: darkslateblue; /* 기존 테두리 색상 유지 */
        box-shadow: none; /* 그림자 효과 제거 */
        background-color: inherit; /* 배경색 변경 방지 */
    }


    #name-input-button {
        width: 30px;
        border: none;
        height: 100%;
        color: white;
        background: darkslateblue;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-weight: bold;
        font-size: 8px;
    }

    .nav-text {
        box-sizing: border-box;
        font-family: my-font, sans-serif;
        text-decoration: none;
        cursor: pointer;
        color: darkslateblue;
        width: 8em;
        height: 3em;
        background-color: white;
        border-radius: 10px;
        border: 2px solid darkslateblue;
        display: grid;
        align-items: center;
        justify-items: center;
        box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    }

    .nav-text:hover {
        color: darkslateblue;
    }

    #nav-bottom {
        height: 100%;
        max-height: 100%;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
    }

    .mobile-invisible {
        display: none;
    }
}

