spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  jackson:
    property-naming-strategy: SNAKE_CASE
  datasource:
    hikari:
      maximum-pool-size: 1
      connection-timeout: 1000
      validation-timeout: 1000
server:
  servlet:
    session:
      cookie:
        name: "auth"
        http-only: false
management:
  health:
    probes:
      enabled: true
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health

  endpoint:
    health:
      show-details: never
