<div id="ad-section" th:fragment="ad-section">
    <th:block th:if="${activeProfile == 'prod'}">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5146591484722882"
                crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
             style="display:block; width: 100%; height: 100%; max-height: 100%"
             data-ad-client="ca-pub-5146591484722882"
             data-ad-slot="9697904962"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </th:block>
</div>