<div id="chatting-section" th:fragment="chatting">
    <h1 id="chatting-box-title">채팅창</h1>
    <div id="chatting-box-section">
        <div class="chat-date">
            <p>2025년 1월 23일 월요일</p>
        </div>
        <div class="chat-unit received">
            <p class="chat-user">호야</p>
            <div class="chat-content">
                <p class="chat-message">안녕하세요!</p>
                <p class="chat-time">03:50</p>
            </div>
        </div>
        <div class="chat-unit sent">
            <p class="chat-user">은댕</p>
            <div class="chat-content">
                <p class="chat-message">네, 반갑습니다!</p>
                <p class="chat-time">03:51</p>
            </div>
        </div>
        <div class="chat-date">
            <p>2025년 1월 23일 월요일</p>
        </div>
    </div>
    <div id="chatting-input-section">
        <input id="chatting-input" type="text" placeholder="채팅을 입력해주세요."/>
        <button id="chatting-send-button">전송</button>
    </div>
</div>