<div id="nav-section" th:fragment="header">
    <div id="nav-upper">
        <div id="nav-left">
            <div id="logo-section">
                <img id="logo-img" src="/image/logo.png" alt="브랜드 로고">
                <p id="logo-title">프랙티켓</p>
            </div>
            <a href="/" id="ticketing-desktop-btn" class="nav-text mobile-invisible">예매연습</a>
            <a href="/rank" id="rank-desktop-btn" class="nav-text mobile-invisible">순위표</a>
            <a href="/security" id="security-desktop-btn" class="nav-text mobile-invisible">보안문자</a>
            <a href="/blog" id="blog-desktop-btn" class="nav-text mobile-invisible">블로그</a>
        </div>
        <div id="nav-right">
            <div id="info-section">
                <div id="name-section">
                    <p id="name-value"></p>
                    <button id="reset-button">닉네임 변경</button>
                </div>
                <div id="name-input-section">
                    <input id="name-input-box" type="text" name="name" placeholder="닉네임을 입력해주세요."/>
                    <button id="name-input-button" type="button">완료</button>
                </div>
            </div>
        </div>
    </div>
    <div id="nav-bottom" class="desktop-invisible">
        <a href="/" id="ticketing-page-btn" class="nav-text">예매연습</a>
        <a href="/rank" id="rank-page-btn" class="nav-text">순위표</a>
        <a href="/security"  id="security-page-btn" class="nav-text">보안문자</a>
        <a href="/blog" id="blog-page-btn" class="nav-text">블로그</a>
    </div>
</div>
