#chatting-section {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;
    min-width: 0;
    flex-shrink: 1;
}

#chatting-box-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 5px;
    color: darkslateblue;
    text-align: center;
}

#chatting-box-section {
    width: 100%;
    background-color: white;
    border: 2px solid darkslateblue;
    height: 200px;
    border-radius: 8px 8px 0px 0px;        /* 모서리 둥글게 */
    padding: 20px;             /* 내부 여백 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    flex-grow: 6;
    overflow-y: scroll;
    box-sizing: border-box;
}

.chat-unit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-unit.received {
    align-items: flex-start;
}

.chat-unit.sent {
    align-items: flex-end;
}

.chat-unit.received > .chat-content {
    display: flex;
    align-items: flex-end;
}

.chat-unit.sent > .chat-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.chat-user {
    margin: 10px;
}

.chat-message {
    background-color: #514897;
    padding: 20px;
    border-radius: 15px;
    border: none;
    margin: 0;
    color: white;
    max-width: 60%;
}

.chat-time {
    font-size: 10px;
    margin: 10px 5px;
}



#chatting-input-section {
    background-color: white;
    border: 2px solid darkslateblue;
    border-top: none;
    width: 100%;
    padding: 10px 20px;             /* 내부 여백 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#chatting-input {
    border: none;
    flex-grow: 0.8;
    height: 100%;
    padding: 0;
    font-size: 18px;
}

#chatting-input:focus {
    outline: none;
}

#chatting-send-button {
    flex-grow: 0.2;
    padding: 5px 10px;
    height: 40px;
    border: none;
    color: white;
    background: darkslateblue;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}