@font-face {
    font-family: 'my-font';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@media (min-width: 769px) {
    html, body {
        height: 100vh; /* 화면 전체 높이 차지 */
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background: white;
        font-family: my-font, sans-serif;
    }

    /* 컨텐트 섹션 */
    #content-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    }

    #content-section div {
        flex-basis: 0;
    }

    #ad-section {
        flex-grow: 0.3;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    /* 메인 내용 부분 */
    #main-section {
        flex-grow: 0.4;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    #main-title {
        color: #2C2C2C;
        flex-grow: 0.05;
    }
    #button-container {
        display: flex;
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center;
    }
    #round-button {
        width: 200px;
        height: 200px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        background: darkslateblue;
        font-size: 25px;
        font-family: my-font, sans-serif;
    }
    #round-button:hover {
        transform: scale(1.1); /* 크기를 10% 정도 확대 */
    }
    #countdown {
        font-size: 30px;
        margin-bottom: 30px;
        color: darkslateblue;
        font-weight: bolder;
        text-align: center;
    }
    /* 티켓팅 영역 */
    #ticketing-section {
        flex-grow: 0.5;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 30px;
    }
    #modal-section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
        justify-content: center;
        align-items: center;
        z-index: 1000;
        display: none;
    }
    #modal-content {
        background-color: white;
        width: 40vw;
        height: 50vh;
        border-radius: 10px;
        border: 3px solid darkslateblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #modal-title {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Noto Sans KR', sans-serif;
    }
    #waiting-info-section {
        background-color: #E6E6FA;
        width: 30vw;
        height: 20vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    #waiting-mention {
        font-weight: bold;
        line-height: 1.5;

    }
    #waiting-number {
        font-weight: bold;
        font-size: 25px;
        color: darkslateblue;
    }
    #progress-container {
        margin-top: 10px;
        width: 30vw;
        height: 1vh;
        border: 3px solid darkslateblue;
        border-radius: 10px;
    }
    #progress-bar {
        width: 0;
        height: 1vh;
        background-color: darkslateblue;
        border-radius: 25px;
    }

    #etc-section {
        flex-grow: 0.3;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}



@media (max-width: 768px) {
    html, body {
        height: 100dvh; /* 화면 전체 높이 차지 */
        width: 100vw;
        margin: 0;
        background: white;
        font-family: my-font, sans-serif;
        overflow: hidden;
        display: grid;
        grid-template-rows: 20fr 80fr;
    }

    /* 컨텐트 섹션 */
    #content-section {
        overflow: hidden;
        width: 100%;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 1fr 8fr;
    }

    #ad-section {
        width: 100%;
    }

    /* 메인 내용 부분 */
    #main-section {
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 5fr 5fr;
        justify-items: center;
        align-items: start;
    }

    #button-container {
        display: flex;
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center;
        flex-direction: column;
    }

    #round-button {
        width: 40vw;
        height: 40vw;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        background: darkslateblue;
        font-size: 20px;
        font-family: my-font, sans-serif;
    }

    #countdown {
        font-size: 20px;
        color: darkslateblue;
        font-weight: bolder;
        text-align: center;
        display: flex;
        flex-grow: 0.2;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    /* 티켓팅 영역 */
    #ticketing-section {
        display: flex;
        flex-grow: 0.1;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        max-height: 100%;
    }
    #modal-section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
        justify-content: center;
        align-items: center;
        z-index: 1000;
        display: none;
    }
    #modal-content {
        background-color: white;
        width: 80vw;
        height: 80vw;
        border-radius: 10px;
        border: 3px solid darkslateblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #modal-title {
        font-size: 20px;
        font-weight: bold;
    }

    #waiting-info-section {
        background-color: #E6E6FA;
        width: 80%;
        height: 50%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    #waiting-mention {
        font-weight: bold;
        line-height: 1.5;
        font-size: 12px;
    }

    #waiting-number {
        font-weight: bold;
        font-size: 14px;
        color: darkslateblue;
    }
    #progress-container {
        margin-top: 10px;
        width: 100%;
        height: 1vh;
        border: 3px solid darkslateblue;
        border-radius: 10px;
    }
    #progress-bar {
        width: 0;
        height: 1vh;
        background-color: darkslateblue;
        border-radius: 25px;
    }

    #etc-section {
        display: none;
    }
}
