@font-face {
    font-family: 'my-font';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media (min-width: 769px) {
    html, body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        display: grid;
        justify-items: center;
        background: white;
        font-family: my-font, sans-serif;
        grid-template-rows: 1fr 10fr;
    }

    #content-section {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100vw;
        height: 100%;
        max-height: 100%;
        overflow: scroll;
        grid-template-columns: 1fr 2fr 1fr;
    }

    #main-section {
        display: grid;
        grid-template-rows: 2fr 2fr 3fr 4fr;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    h1 {
        color: darkslateblue;
        font-size: 25px;
        text-align: center;
    }

    h2 {
        color: #2a2d2f;
        font-size: 15px;
        text-align: center;
    }

    #guide-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        background-color: white;
        border-radius: 2em;
        border: 2px solid darkslateblue;
        box-shadow: 0 8px 16px rgba(75, 63, 114, 0.3),
        0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .guide-description {
        width:90%;
        font-size: 14px;
        color: #2a2d2f;
        border: none;
        margin: 0;
    }

    .guide-highlight {
        color: darkslateblue;
        font-size: 15px;
    }

    #countdown {
        font-size: 25px;
        color: darkslateblue;
    }

    #security-section {
        height:80%;
        width: 100%;
        max-height: 80%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    #start-button {
        border: none;
        width: 30%;
        aspect-ratio: 1/0.5;
        background-color: darkslateblue;
        color: white;
        font-size: 1.3em;
        border-radius: 1.5em;
        border: none;
        font-family: my-font, sans-serif;
        cursor: pointer;
    }

    #start-button:hover {
        transform: scale(1.05);
    }

    #security-letter-section {
        display: none;
        grid-template-rows: 0.7fr 0.5fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 60%;
        max-height: 80%;
        overflow: hidden;
        background-color: white;
        border-radius: 10px;
    }

    #security-letter-title {
        width: 80%;
        text-align: center;
        margin:0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: #514897;
    }

    #security-letter-guide {
        display: grid;
        width: 80%;
        height: 100%;
        grid-template-columns: 6fr 4fr;
    }

    #security-letter-count {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: white;
    }

    #security-letter-image-background {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        border: 2px solid darkslateblue;
        background-color: darkslateblue;
    }

    #security-input-section {
        width: 80%;
        height: 80%;
        border: 2px solid darkslateblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #security-input {
        width: 70%;
        height: 90%;
        border: none;
        margin-left: 10px;
        font-family: my-font, sans-serif;
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    #security-input::placeholder {
        letter-spacing: normal;
    }

    #security-input:focus {
        outline: none; /* 포커스 시 테두리 제거 */
    }

    #security-input-button {
        height: 100%;
        width: 30%;
        border: none;
        background-color: #514897;
        color: white;
        font-family: my-font, sans-serif;
        cursor: pointer;
    }

    #result-section {
        width: 100%;
        height: 100%;
        max-height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #result-title {
        margin: 0;
        width: 100%;
        text-align: center;
        color: darkslateblue;
        padding: 10px;
        box-sizing: border-box;
        border: 2px solid darkslateblue;

    }

    #result-detail {
        width: 100%;
        height: 40%;
        box-sizing: border-box;
        border: 2px solid darkslateblue;
        border-top: none;
        box-shadow: 0 8px 16px rgba(75, 63, 114, 0.3),
        0 4px 8px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 3fr 4fr 5fr;
    }

    .result-detail-content {
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #my-latest-result, #my-average-result {
        border-right: 2px solid darkslateblue;
    }

    .result-detail-content > h4 {
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid darkslateblue;
    }

    #ad-section {
        width: 90%;
        height: 70%;
        max-height: 70%;
        overflow: hidden;
    }
}




/**
--------------------- 모바일 구분선 -------------------------
 */






@media (max-width: 768px) {
    html, body {
        height: 100dvh; /* 화면 전체 높이 차지 */
        width: 100vw;
        margin: 0;
        background: white;
        font-family: my-font, sans-serif;
        overflow: hidden;
        display: grid;
        grid-template-rows: 18fr 82fr;
    }

    #content-section {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100vw;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        grid-template-rows: 2fr 8fr;
    }

    #main-section {
        display: grid;
        grid-template-rows: 2fr 5fr 3fr;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    #title-section {
        width: 100%;
        display: none;
    }

    h1 {
        color: darkslateblue;
        font-size: 15px;
        text-align: center;
    }

    h2 {
        color: #2a2d2f;
        font-size: 12px;
        text-align: center;
    }

    #guide-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        background-color: white;
        box-sizing: border-box;
        box-shadow: 0 8px 16px rgba(75, 63, 114, 0.3),
        0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .guide-description {
        width:90%;
        font-size: 10px;
        color: #2a2d2f;
        border: none;
        margin: 0;
    }

    .guide-highlight {
        color: darkslateblue;
        font-size: 12px;
    }

    #countdown {
        font-size: 25px;
        color: darkslateblue;
    }

    #security-section {
        height:100%;
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #start-button {
        border: none;
        width: 30%;
        aspect-ratio: 1/0.5;
        background-color: darkslateblue;
        color: white;
        font-size: 1em;
        border-radius: 1.2em;
        font-family: my-font, sans-serif;
        cursor: pointer;
    }

    #start-button:hover {
        transform: scale(1.05);
    }

    #security-letter-section {
        display: none;
        grid-template-rows: 0.7fr 0.5fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 60%;
        max-height: 80%;
        overflow: hidden;
        background-color: white;
        border-radius: 10px;
    }

    #security-letter-title {
        width: 80%;
        text-align: center;
        margin:0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #514897;
    }

    #security-letter-guide {
        display: grid;
        width: 80%;
        height: 100%;
        grid-template-columns: 6fr 4fr;
    }

    #security-letter-count {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: white;
        font-size: 12px;
    }

    #security-letter-count-message {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 12px;
    }

    #security-letter-image-background {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        border: 2px solid darkslateblue;
        background-color: darkslateblue;
    }

    #security-input-section {
        width: 80%;
        height: 80%;
        border: 2px solid darkslateblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #security-input {
        width: 70%;
        height: 90%;
        border: none;
        margin-left: 10px;
        font-family: my-font, sans-serif;
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    #security-input::placeholder {
        letter-spacing: normal;
    }

    #security-input:focus {
        outline: none; /* 포커스 시 테두리 제거 */
    }

    #security-input-button {
        height: 100%;
        width: 30%;
        border: none;
        background-color: #514897;
        color: white;
        font-family: my-font, sans-serif;
        cursor: pointer;
    }

    #result-section {
        width: 100%;
        height: 100%;
        max-height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #result-title {
        margin: 0;
        width: 100%;
        text-align: center;
        color: darkslateblue;
        padding: 10px;
        box-sizing: border-box;
        font-size: 15px;

    }

    #result-detail {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 2px solid darkslateblue;
        box-shadow: 0 8px 16px rgba(75, 63, 114, 0.3),
        0 4px 8px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 3fr 4fr 5fr;
    }

    .result-detail-content {
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-size: 12px;
    }

    #my-latest-result, #my-average-result {
        border-right: 2px solid darkslateblue;
    }

    .result-detail-content > h4 {
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid darkslateblue;
    }

    #ad-section {
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }
}