<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="프랙티켓 | 실전 티켓팅 연습사이트">
    <meta name="description" content="프랙티켓은 실전을 통해 티켓 예매 성공률을 높일 수 있는 티켓팅 연습 플랫폼입니다.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="티켓팅,티켓팅 연습,예매,예매 연습,연습">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>프랙티켓 - 실전 티켓팅 연습 플랫폼</title>
    <link rel="icon" href="/image/logo.png" type="image/png">
    <link rel="canonical" href="https://practicket.com/">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/chatting.css">

    <!-- 구글 에드센스 -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5146591484722882" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{fragments/header::header}"></div>
    <div id="content-section">
        <div id="ad-section">
<!--            <ins class="adsbygoogle"-->
<!--                 style="display:block"-->
<!--                 data-ad-client="ca-pub-5146591484722882"-->
<!--                 data-ad-slot="9697904962"-->
<!--                 data-ad-format="fluid"-->
<!--                 data-full-width-responsive="true"></ins>-->
<!--            </ins>-->
        </div>
        <div id="main-section">
            <div id="ticketing-section">
                <div id="countdown-message">예매 가능 시간
                    <span id="countdown-message-important">00초 ~ 30초</span>
                </div>
                <div id="countdown"></div>
                <div id="button-container">
                    <button id="round-button">예매하기</button>
                </div>
            </div>
            <div th:replace="~{fragments/chatting::chatting}"></div>
            <div id="modal-section">
                <div id="modal-content">
                    <h2 id="modal-title">예매 대기중입니다.</h2>
                    <div id="waiting-info-section">
                        <p id="waiting-mention">
                            사용자 앞에
                            <span id="waiting-number"></span>
                            명의 대기자가 있습니다. <br/>
                            현재 접속중인 사용자가 많아 대기중이며 <br/>
                            잠시만 기다리시면, 예매 페이지로 이동합니다
                        </p>
                        <div id="progress-container">
                            <div id="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="etc-section"></div>
    </div>
    <!-- 광로 로드   -->
<!--    <script> (adsbygoogle = window.adsbygoogle || []).push({});</script>-->
    <script> const HOST = "[[${host}]]"; </script>
    <script type="module" src="/js/main.js"></script>
    <script type="module" src="/js/header.js"></script>
    <script type="module" src="/js/chatting.js"></script>
</body>
</html>