<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프랙티켓 - 티켓팅 연습 사이트</title>
    <link rel="stylesheet" href="/css/reservation.css">
</head>
<body>
    <div id="modal-section">
        <div id="modal-content">
            <h2 id="modal-title">문자를 입력해주세요.</h2>
            <div id="security-info-section">
                <p id="security-text">AFJDSD</p>
                <button id="security-reset-button">
                    <img width="100%" height="100%" src="/image/reset-button.png">
                </button>
            </div>
            <div id="security-input-section">
                <input id="security-input" placeholder="문자를 입력해주세요.">
                <button id="security-input-button">입력완료</button>
            </div>
        </div>
    </div>
    <div id="reservation-section">
        <div id="seat-section">
            <div id="stage">Stage</div>
            <div id="seats"></div>
        </div>
        <div id="right-section">
            <div id="selected-section">
                <h2>선택하신 좌석</h2>
                <div id="selected-seat-list"></div>
            </div>
            <button id="complete-button">좌석 선택 완료</button>
        </div>
    </div>
    <script type="module" src="/js/reservation.js"></script>
</body>
</html>